
<h1 class="titlePage text-center">Email viewer</h1>


<div class="container">
  <div class="row rowStyle">    
    <div class="col-lg-6 col-md-6 col-sm-6  leftSide">
      <p>left</p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 rightSide">
      <p>right</p>
    </div>
  </div>
</div>
