
<h1 class="titlePage text-center">Email viewer</h1>


<div class="container">
  <div class="row rowStyle">
    <div class="col-lg-6 col-md-6 col-sm-6  leftSide">
      <h3 class="text-center">Boite de reception</h3>
      <hr>
      <% @email.each do |email| %>
        <ul>
          <li>
            <%= link_to email.objet, email_index_path, class: "email-objet-link", remote: true %>
          </li>
        </ul>
      <% end %>

    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 rightSide">
      <h3 class="text-center">Contenu du message</h3>
      <hr>
      <div class="fullMsg" id="toshow" style="display:none;">
        <%= render 'email' %>
      </div>

    </div>
  </div>
</div>
